**/*.7z
**/*.DS_Store
**/*.ear
**/*.gz
**/*.iml
**/*.log
**/*.rar
**/*.tar
**/*.tgz
**/*.war
**/*.zip

**/.gradle/
**/.idea/
**/.vscode/

**/*.cache
**/*.eslintcache
**/*.tsbuildinfo

**/.vite/
**/.vitest/
**/dist/
**/node_modules/
